.u-center-text {
  text-align: center;
}

.u-margin {
  &-bottom {
    &-lg {
      margin-bottom: 8rem;
    }
    &-md {
      margin-bottom: 4rem;
    }
    &-sm {
      margin-bottom: 1.5rem;
    }
  }
}
